[Unit]
Description=Elephant - Walker backend and menu provider
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/elephant
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
