{{- $p := include "dot_config/palette/active.json" | fromJson -}}
/* Window */
window.auth-window.background,
window.auth-window {
    background-color: {{ $p.crust }};
}

/* Typography */
.auth-header {
    color: {{ $p.text }};
    font-weight: bold;
}

.auth-message {
    color: {{ $p.text }};
}

.auth-retry {
    color: {{ $p.text }};
}

/* Identity dropdown */
dropdown.auth-identity > button.toggle {
    background: none;
    background-color: {{ $p.mantle }};
    border-color: {{ $p.surface1 }};
    border-radius: 8px;
    color: {{ $p.text }};
}

dropdown.auth-identity > popover.menu > contents,
dropdown.auth-identity listview {
    background-color: {{ $p.mantle }};
    border-color: {{ $p.surface1 }};
}

dropdown.auth-identity listview > row:hover,
dropdown.auth-identity listview > row:selected {
    background-color: {{ $p.base }};
}

dropdown.auth-identity listview > row:focus:not(:hover) {
    background-color: transparent;
}

/* Password entry */
.auth-password {
    background: {{ $p.mantle }};
    border-color: {{ $p.surface1 }};
    border-radius: 8px;
    color: {{ $p.text }};
}

entry.auth-password:focus-within {
    outline-color: {{ $p.surface0 }};
}

/* Buttons */
.auth-buttons {
    margin-top: 4px;
}

.auth-cancel,
.auth-confirm {
    background: {{ $p.mantle }};
    border-color: {{ $p.surface1 }};
    color: {{ $p.text }};
}

.auth-cancel:hover,
.auth-confirm:hover {
    background: {{ $p.base }};
}
