● /* Window */
window.auth-window.background,
window.auth-window {
    background-color: #20272c;
}

/* Typography */
.auth-header {
    color: #d7d7d7;
    font-weight: bold;
}

.auth-message {
    color: #bebebe;
}

.auth-retry {
    color: #e59191;
}

/* Identity dropdown */
dropdown.auth-identity > button.toggle {
    background: none;
    background-color: #283137;
    border-color: #354149;
    border-radius: 8px;
    color: #bebebe;
}

dropdown.auth-identity > popover.menu > contents,
dropdown.auth-identity listview {
    background-color: #283137;
    border-color: #354149;
}

dropdown.auth-identity listview > row:hover,
dropdown.auth-identity listview > row:selected {
    background-color: #313b43;
}

dropdown.auth-identity listview > row:focus:not(:hover) {
    background-color: transparent;
}

/* Password entry */
.auth-password {
    background: #283137;
    border-color: #354149;
    border-radius: 8px;
    color: #bebebe;
}

entry.auth-password:focus-within {
    outline-color: #303b41;
}

/* Buttons */
.auth-buttons {
    margin-top: 4px;
}

.auth-cancel,
.auth-confirm {
    background: #283137;
    border-color: #354149;
    color: #bebebe;
}

.auth-cancel:hover,
.auth-confirm:hover {
    background: #313b43;
}
