{
  "base_keymap": "VSCode",
  "buffer_font_family": "JetBrainsMono Nerd Font",
  "ui_font_family": "JetBrainsMono Nerd Font Propo",
  "terminal": {
    "font_family": "JetBrainsMono Nerd Font Mono"
  },
  "theme": {
    "mode": "dark",
    "dark": "Everforest Dark Blur",
    "light": "Everforest Light Blur"
  },
  "icon_theme": {
    "mode": "dark",
    "light": "Material Icon Theme",
    "dark": "Material Icon Theme"
  },
  "auto_install_extensions": {
    "toml": true,
    "html": true,
    "svelte": true,
    "dockerfile": true,
    "sql": true,
    "material-icon-theme": true
  },
  "edit_predictions": {
    "mode": "subtle"
  },
  "features": {
    "edit_prediction_provider": "zed"
  },
  "load_direnv": "shell_hook"
}
