{
  "agent": {
    "sidebar_side": "right",
    "favorite_models": [],
    "model_parameters": []
  },
  "project_panel": {
    "dock": "left"
  },
  "base_keymap": "VSCode",
  "buffer_font_family": "JetBrainsMono Nerd Font",
  "ui_font_family": "JetBrainsMono Nerd Font Propo",
  "terminal": {
    "font_family": "JetBrainsMono Nerd Font Mono"
  },
  "theme": {
    "mode": "dark",
    "dark": "Catppuccin Mocha",
    "light": ""
  },
  "icon_theme": {
    "mode": "dark",
    "light": "Material Icon Theme",
    "dark": "Material Icon Theme"
  },
  "auto_install_extensions": {
    "toml": true,
    "html": true,
    "svelte": true,
    "dockerfile": true,
    "sql": true,
    "material-icon-theme": true
  },
  "edit_predictions": {
    "mode": "subtle"
  },
  "load_direnv": "shell_hook"
}
