{{- $p := include "dot_config/palette/active.json" | fromJson -}}
# Hyprlock Configuration

general {
    hide_cursor = true
}

background {
    monitor =
    path = screenshot
    color = {{ template "hypr_rgb" $p.base }}
    blur_passes = 3
    blur_size = 6
    noise = 0.02
    contrast = 0.9
    brightness = 0.7
}

input-field {
    monitor =
    size = 280, 50
    outline_thickness = 2
    dots_size = 0.25
    dots_spacing = 0.3
    dots_center = true
    outer_color = {{ template "hypr_rgba" (list $p.overlay0 0.8) }}
    inner_color = {{ template "hypr_rgba" (list $p.crust 0.9) }}
    font_color = {{ template "hypr_rgb" $p.text }}
    fade_on_empty = false
    placeholder_text = <i>Password...</i>
    hide_input = false
    check_color = {{ template "hypr_rgba" (list $p.surface0 0.8) }}
    fail_color = {{ template "hypr_rgba" (list $p.red 0.8) }}
    fail_text = <i>$FAIL</i>
    capslock_color = {{ template "hypr_rgba" (list $p.yellow 0.8) }}
    position = 0, -80
    halign = center
    valign = center
}

label {
    monitor =
    text = $TIME
    color = {{ template "hypr_rgba" (list $p.text 0.95) }}
    font_size = 72
    font_family = sans-serif
    position = 0, 120
    halign = center
    valign = center
}

label {
    monitor =
    text = cmd[update:3600000] date +"%A, %B %d"
    color = {{ template "hypr_rgba" (list $p.subtext0 0.8) }}
    font_size = 18
    font_family = sans-serif
    position = 0, 40
    halign = center
    valign = center
}
